# Compile Files
*.o
*.obj
*.so
*.a
*.exe
*.out

# Custom Folders
build/
third-party/

# CMake Files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# VSCode Settings
.vscode/

# config
 *.json
 
