# Derleme dosyaları
*.o
*.obj
*.so
*.a
*.exe
*.out

# Derleme klasörleri
build/
third-party/


# CMake dosyaları
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# VSCode ayarları
.vscode/

#custom
deneme.h
deneme.cpp
Parser_SBE.h
Parser_SBE.cpp
BaseParser.h
blacklist.sql
sbetable.sql
GenerateSBEMessages.py
GeneratedSBEMessages.h
GenerateIpPort.py
GeneratedIpPort.h